@import "normalize";
@import "foundation";


// Tests List Page

tr, tr:nth-of-type(even){
  &.solved{
    background-color: rgba($success-color, 0.3);
  }
  &.locked{
    background-color: rgba($alert-color, 0.3);
  }
}
