{% extends "base.html" %}

{% block content %}

<div class="row">
  <h4 class="text-center">Veuillez vous connecter</h4>
</div>
<div class="row">


  <form class="column large-12" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label>
      Nom d'équipe
      {{ form.username }}
    </label>
    <label>
      Mot de passe
      {{ form.password }}
    </label>

    <input class="button small success right" type="submit" value="Se connecter" />
    <input type="hidden" name="next" value="{{ next }}" />
  </form>
</div>

  {% if form.errors %}
  <div class="column">
    <p class="alert-box alert text-center">Veuillez vérifier vos identifiants.</p>
  </div>
  {% endif %}

{% endblock %}
