{% extends "base.html" %}

{% block content %}

<div class="row column">
  <h1>Temps</h1>
</div>

<div class="row column">
  <table class="large-12 small-12">
  <tr>
    <td></td>
    {% for test in data.tests %}
      <td>{{test}}</td>
    {% endfor %}
  </tr>
  {% for user in data.users %}
  <tr>
    <td>{{user.0}}</td>
    {% for key in user.1 %}
      <td>{{key}}</td>
    {% endfor %}
  </tr>
  {% endfor %}
</table>
</div>

{% endblock %}
