{% extends "base.html" %}

{% block content %}

<div class="row column">
  <h1>{{user.username}}</h1>
</div>

{% if user.first_name %}
<div class="row column">
  <table class="large-12 small-12">
    {% for test in tests %}
    <tr class=
      {% if test.solved %}solved{% endif %}
      {% if not test.activated %}locked{% endif %}
      >
      <td>
        {% if test.activated %}
        <a href="/test/{{test.id}}">{{ test.title }}</a> </td>
      {% else %}
      XXX
      {% endif %}
      <td class="small-1"> {{test.solvedParts}}/{{test.totalParts}} </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% else %}
<div class="row column text-center">
  <a href="/start" class="button large">Commencer !</a>
</div>
{% endif %}

{% if finished %}
  <div class="row column"> <h1>Félicitations</h1> </div>
{% endif %}

{% endblock %}
