{% extends "base.html" %}


{% block content %}

<div class="row column">
  <a href="{% url 'tests' %}"> < Retour </a> 
</div>

<form action="" method="post">
  {% csrf_token %}
  <div class="row column">
    <h1>{{ test.title }}</h1>
  </div>
  <div class="row column">
    {% autoescape on %}
    <p class="text-justify">{{ test.text|linebreaksbr }}</p>
    {% endautoescape %}
    <label>
      {{ test.question }}
      {% if test.solved %}
      <p>Validé !</p>
      {% else %}
      <input type="text" name='test-{{test.id}}'>
      {% endif %}
      <input type="hidden" name="next" value="{{ next }}" />
    </label>
  </div>

  {% if testParts %}
  <div class="row column">
    <h3>Questions bonus</h3>
    {% for testPart in testParts %}
    <table class="large-12 small-12">
      <tr>
        <td> {{ testPart.text }} </td>
      </tr>
      {% if testPart.solved %}
      <tr>
        <td> Validée !  </td>
      </tr>
      {% else %}
      <tr>
        <td>
          <label>
            {{ testPart.question }}
            <input type="text" name='part-{{testPart.id}}'>
          </label>
        </td>
      </tr>
      {% endif %}
    </table>
    {% endfor %}
  </div>
  {% endif %}
  <div class="row column">
    <input class="button small success right" type="submit" value="Valider" />
  </div>
</form>
{% endblock %}
